@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80);
}

main{
    padding: 16px;
}

footer{
    position: sticky;
    padding: 24px 0px;
    margin-top: 2em;
    background-color: #a8be5f;
}

img{
    height: 350px;
    width: 350px;

}

h1{
    color: green;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: coral;
}

#tophead{
    text-decoration: none;
    color: white;
}

.recipes-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
}

.striped tr:nth-child(even) {
    background-color: lightgrey;
}

.values {
    background-color:cyan;
}

h3 a {
    text-decoration: none;
}

.steps{
    background-color: lightgray;
}
